@font-face{
    font-family: "migmix-1p-regular";
    src: url("migmix-1p-regular.ttf") format("truetype");
}

body{
    font-family: "migmix-1p-regular";    
}

select{
    font-family: "migmix-1p-regular";    
}

input{
    font-family: "migmix-1p-regular";    
}

h2 {
    background: #514a3c;
    color: #e0eeff;
    font-size: 14px;
    padding: 6px;
    margin: 2px;
    text-align: center;
}

h3 {
    background: #615a4c;
    color: #e0eeff;
    font-size: 12px;
    padding: 4px;
    text-align: left;
    margin: 0px;
}

.b2 {
    background: #dedabe;
    padding: 6px;
    border: solid 2px #514a3c;
} 

.b3 {
    background: #beba9e;
    padding: 6px;
}

.label{
    background: #817a5c;
    font-size: 17px;
    color: #e0eeff;    
}

#builder {
    float: left;
}

#status{
    float: left;
}

#builder_status {
    height:110px;
    border-radius: 10px;
    overflow-y:scroll;
}

#inventory_list {
    height:120px;
    border-radius: 10px;
    overflow-y:scroll;
}

#infomation_status {
    height:120px;
    border-radius: 10px;
    overflow-y:scroll;
}